@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}
body {
  font-family: "poppins", sans-serif;
  color: var(--primary-text-color);
}
p {
  font-family: "roboto", sans-serif;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}
a {
  text-decoration: none;
  display: inline-block;
}

.top-banner {
  /* background-image: url("assets/banner.png"); */
  background-color: #2294ed;
  background-size: 300px;
}
.sm-bolt-text{
  text-align: center;
  font-weight: 700;
}
.banner_text {
  color: white;
  padding: 15px 30px;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
  margin-bottom: 10px;
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}
.logo{
  font-size: x-large;
  font-weight: 700;
}
.nav-bar {
  justify-content: space-between;
  margin-top: 10px;
}
.nav-bar .menu-icon
{
  display: none;
}
.menu {
  flex-basis: 730px;
}
ul {
  list-style: none;
}
.menu ul {
  justify-content: end;
  gap: 20px;
}

.hover-link {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}
.hover-link:hover {
  color: var(--accent-color);
}

.primary-button {
  background-color: var(--accent-color);
  color: white !important;
  padding: 12px 24px;
  font-weight: 700;
  border-radius: 6px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
}
.primary-button:hover {
  background-color: var(--accent-color-dark);
}
.secondary-button {
  color: var(--primary-text-color);
  padding: 12px 24px;
  font-weight: 700;
  border-radius: 6px;
  border: 2px solid var(--secondary-text-color);
  transition: 0.2s ease-out;
}
.secondary-button:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.header-left p{
  text-align: justify;
} 
.header-right img{
  height: 500px;
  width:40vw
}

.header-style{
  justify-content: center;
  gap:100px;
}
.get-started-btn{
  margin-top: 10px;
}
.companies{
  margin-top:20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.company-logo{
  margin-top: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap
}
.company-logo-img{
  width: 70px;
  height: 7 0px;
}
.feature-section{
  margin-top: 20px;
}

.feature-header{
  text-align: center;
  padding: 10px;
}

.grid{
  display: grid;
}
.feature-desc{
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  align-items: center;    
}
.feature-card{
  padding: 10px;
  width:60%;
  text-align: center;
}

@media (max-width:900px) {
 
  .nav-bar{
    position: relative;
    overflow: initial;
  }
  .nav-bar .menu-icon
  {
    display: initial;
  }
  
  .nav-bar .menu{
    position: absolute;
    left: -100%;
    width: 100%;
    top: 100%;
    background-color: white ;
    padding: 30px;
    transition: 0.2s ease-in-out;
  }
  .active
  {
    left: 0% !important;
  }

  .nav-bar .menu ul{
    flex-direction: column;
  }

  .feature-desc{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 10px;
  }
}

@media (max-width:768px){
  .header-style{
    flex-direction: column-reverse;
    gap:25px
  }
  .header-left{
    width:70%;
  }
  .header-right img{
    width:80vw
  }
}

@media (max-width:480px){
  .feature-desc{
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    gap: 10px;
  }
}